{% extends 'base.html' %}

{% block content %}
<ul class="list-group">
    {% for item in post_list %}
    <li class="list-group-item">
        <span class="text-info">Title: </span><span>{{item.post.title}}</span>
        <br>
        <span class="text-info">Content: </span><span>{{item.post.content}}</span>
        <br>
        <span class="text-info">Author: </span><span>{{item.post.author.first_name}}</span>
        <br>
        <span class="text-info">Number of Comments</span> <span></span>
        <br>
    </li>
    {% endfor %}
</ul>
{% endblock %}