{% extends 'base.html' %}

{% block content %}
    <br>
    <h3>Post Details</h3>
    <br>
    <span class="text-info">Post Title: </span><span>{{post.title}}</span>
    <br>
    <span class="text-info">Author: </span><span>{{post.author.first_name}}</span>
    <br>
    <span class="text-info">Content: </span><span>{{post.content}}</span>
    <br>
    <span class="text-info">Date Posted; </span><span>{{post.date_posted}}</span>
    {% if not comment %}
        <hr>
        <h3>Be the first to comment!!</h3>
    {% else %}
        <br>
        <hr>
        <h3>Comments</h3>
        <ul>
            {% for item in comment %}
                <li class="list-group-item">
                 <span class="text-info">Comment: </span> <span>{{item.content}}</span>
                 <br>
                 <span class="text-info">Author: </span> <span>{{item.author.first_name}}</span>
                 <br>
                 <span class="text-info">Date Posted</span> <span>{{item.date_posted}}</span>
                 <br>
                 </li>
            {% endfor %}
        </ul>
    {%endif%}
{%endblock%}
